<div class="container" *ngIf="reserving">
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-12 dateCol">
                <my-date-picker class="datePicker" formControlName="reservationDate"
                [options]="myDatePickerOptions" [placeholder]="placeholder"></my-date-picker>
            </div>
            <div class="form-group col col-lg-8 col-md-8 col-sm-12">
                <label for="reservationLength">No. Days</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" required formControlName="reservationLength">
                    <option selected>Choose...</option>
                    <option *ngFor="let number of daysArray; let i = index" [ngValue]="i + 1" [disabled]="i > numDaysRemaining">{{i + 1}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-outline btn-success" [disabled]="!reservationForm.valid">Submit Reservation</button>
        </div>

    </form>
</div>
