<div class="container">
    <div [hidden]="submitted">
        <h1>Book Entry</h1>
        <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title"
                required formControlName="title">
                <!-- <div [hidden]="title.valid || title.pristine"
                    class="alert alert-danger">
                    Title is required
                </div> -->
                <div *ngIf="formErrors.title" class="alert alert-danger">
                    {{ formErrors.title }}
                </div>
            </div>

            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author"
                required formControlName="author">
                <!-- <div [hidden]="author.valid || author.pristine"
                    class="alert alert-danger">
                    Author is required
                </div> -->
                <div *ngIf="formErrors.author" class="alert alert-danger">
                    {{ formErrors.author }}
                </div>
            </div>

            <div class="form-group">
                <label for="isbn">ISBN</label>
                <input type="text" class="form-control" id="isbn"
                required formControlName="isbn">
                <!-- <div [hidden]="isbn.valid || isbn.pristine"
                    class="alert alert-danger">
                    ISBN is required
                </div> -->
                <div *ngIf="formErrors.isbn" class="alert alert-danger">
                    {{ formErrors.isbn }}
                </div>
            </div>

            <div class="form-group">
                <label for="publishDate">Publish Date</label>
                <input type="text" class="form-control" id="publishDate"
                required formControlName="publishDate">
                <!-- <div [hidden]="publishDate.valid || publishDate.pristine"
                    class="alert alert-danger">
                    Publish Date is required
                </div> -->
                <div *ngIf="formErrors.publishDate" class="alert alert-danger">
                    {{ formErrors.publishDate }}
                </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!bookForm.valid">Submit</button>
        </form>
    </div>
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Title</div>
        <div class="col-xs-9  pull-left">{{ model.title }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Author</div>
        <div class="col-xs-9 pull-left">{{ model.author }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">ISBN</div>
        <div class="col-xs-9 pull-left">{{ model.isbn }}</div>
      </div>
      <br>
      <button class="btn btn-success" (click)="onConfirm()">Confirm</button>
      <br/>
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>


</div>
